<div class="search-wrap">
    <div class="search-header">
        <a class="icon-header back">
          <i class="icon-l icon iconfont">&#xe779;</i>
        </a>
        <form class="search-form" action="">
            <input type="text" class="search-input" v-model="searchForm.searchData" @focus="fs" @blur="bl" placeholder="请输入搜索关键词" />
            <a class="icon-header close" v-show="showClose">
                <i class="icon-r icon iconfont">&#xe723;</i>
            </a>
        </form>
    </div>
    <div class="container">
        <ul class="result-list">
            <li class="result-item">搜索的结果1</li>
            <li class="result-item">搜索的结果2</li>
            <li class="result-item">搜索的结果3</li>
        </ul>
    </div>
</div>