
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.checkbox{
	position: relative;
	display: block;
	margin: 10px 0;
}
// 清除浮动
.clearfix{
	display: inline-block;
	&:after{
		display: block;
		content:".";
		height: 0;
		line-height: 0;
		clear: both;
		visibility: hidden;
	}
}
ul{
	list-style: none;
}
a{
	 text-decoration: none;
}