<div class="fui-wrap container-wrap">

  <ul class="fui-list">
    <li>
      <img class="list-logo" :src="logoUrl" alt="fui">
      <router-link class="item-name" to="/fui/demo-list">Demo</router-link>
      <i class="view-icon icon iconfont icon-xiangyou1"></i>
    </li>
    <li>
      <img class="list-logo" :src="gitLogoUrl" alt="fui">
      <a class="item-name" href="https://github.com/baggiomygod/fui">github</a>
      <i class="view-icon icon iconfont icon-xiangyou1"></i>
    </li>
  </ul>
  <keep-alive>
    <router-view></router-view>
  </keep-alive>
</div>
