@import "../../../commons/style/mixin.scss";
.nav-wrap-all {
  position: relative;
  height: auto;
  background-color: #3e98f0;
  z-index: 10;
  .nav {
    overflow: hidden;
    position: relative;
    .more-menus {
      position: absolute;
      top: 6px;
      right: 0;
      background-color: rgb(62, 152, 240);
      width: 0.8rem;
      height: 0.8rem;
      box-sizing: border-box;
      opacity: 1; // transition: .3s ease-out;
      .more-icon {
        line-height: 1rem;
      }
    }
  }
}
